*.gif filter=lfs diff=lfs merge=lfs -text
1Rectum.gif filter=lfs diff=lfs merge=lfs -text
2Sigmoid.gif filter=lfs diff=lfs merge=lfs -text
3Descending.gif filter=lfs diff=lfs merge=lfs -text
4Transverse.gif filter=lfs diff=lfs merge=lfs -text
5Ascending.gif filter=lfs diff=lfs merge=lfs -text
6Cecum.gif filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
1Rectum.mp4 filter=lfs diff=lfs merge=lfs -text
2Sigmoid.mp4 filter=lfs diff=lfs merge=lfs -text
3Descending.mp4 filter=lfs diff=lfs merge=lfs -text
4Transverse.mp4 filter=lfs diff=lfs merge=lfs -text
5Ascending.mp4 filter=lfs diff=lfs merge=lfs -text
6Cecum.mp4 filter=lfs diff=lfs merge=lfs -text